@import 'assets/sass/loading';
@import 'assets/sass/parallax';
@import 'assets/sass/arrows';
@import 'assets/sass/icon_animations';
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'UbuntuMonoRegular';
  src: local('UbuntuMonoRegular'), url('./fonts/UbuntuMono-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'UbuntuMonoBold';
  src:  local('UbuntuMonoBold'), url('./fonts/UbuntuMono-Bold.ttf') format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  font-family: 'UbuntuMonoRegular';
}

.App {
  text-align: center;
  height: 100vh;
  background: black;
  overflow: scroll;
} 
