.menu-header-option{
  margin-right: 10px;
  color: #671A21;
}
.icon-border,.menu-header-option{
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.icon-border:nth-child(1),.menu-header-option:nth-child(1){animation-delay: 1s;}
.icon-border:nth-child(2),.menu-header-option:nth-child(2){animation-delay: 1.30s;}
.icon-border:nth-child(3),.menu-header-option:nth-child(3){animation-delay: 1.45s;}
.icon-border:nth-child(4),.menu-header-option:nth-child(4){animation-delay: 1.60s;}
.icon-border:nth-child(5),.menu-header-option:nth-child(5){animation-delay: 1.75s;}
.icon-border:nth-child(6),.menu-header-option:nth-child(6){animation-delay: 1.90s;}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}